<article class="post">
    <header>
        <div class="title">
            <h2><a href="{{ url }}">{{ title }}</a></h2>
            <p>{{ meta_description  }}</p>
        </div>
        <div class="meta">
            {{#foreach authors}}
                    {{#if profile_image}}
                        <a href="{{url}}" class="author static-avatar"><img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" /></a>
                    {{else}}
                        <a href="{{url}}" class="author static-avatar author-profile-image">{{> "icons/avatar"}}</a>
                    {{/if}}
                </li>
            {{/foreach}}
            <time class="published" datetime="{{date published_at format="YYYY-MM-DD"}}">{{date published_at format="MMMM DD, YYYY"}}</time>
            <span class="reading-time">{{reading_time}}</span>
        </div>
    </header>
    {{#if feature_image}}
        <a href="{{ url}}" class="image featured"><img src="{{feature_image}}" alt="{{title}}" /></a>
    {{/if}}
    <p>
        {{ excerpt words="34" }}
    </p>
    <footer>
        <ul class="actions">
            <li><a href="{{ url }}" class="button large">{{t "Continue Reading"}}</a></li>
        </ul>
        <ul class="stats">
                {{#if primary_tag}}
                    {{#primary_tag}}
                        <li><a href="{{url}}">{{name}}</a></li>
                    {{/primary_tag}}
                {{/if}}
            <!-- Disqus comment count -->
            <li><a href="{{ url }}#disqus_thread" class="icon fa-comment" data-disqus-identifier="{{ comment_id }}">128</a></li>
        </ul>
    </footer>
</article>