<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css.alpha/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css.alpha/fonts.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css.alpha/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css.alpha/hover.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css.alpha/fakeLoader.css"}}" />
    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">
    <link href="https://fonts.proxy.ustclug.org/css?family=Merriweather|Raleway|Inconsolata|Open+Sans|Niconne|Goudy+Bookletter+1911" rel="stylesheet">
    {{!--<link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">--}}
    {{!--<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">--}}
    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.0/jquery.min.js"></script>
    {{!-- Script to detect fake loading page --}}
    <script type="text/javascript" src="//cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
    <script type="text/javascript" src="{{asset "js.alpha/okshadow.js"}}"></script>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">
    <script>
        NProgress.start();
        var interval = setInterval(function() { NProgress.inc(); }, 1000);
        jQuery(window).on('load',function () {
            clearInterval(interval);
            NProgress.done();
        });
        window.onbeforeunload = function () {
            NProgress.start();
        };
    </script>
    <div id="fakeLoader"></div>

    {{!-- The blog navigation links --}}
    {{navigation.alpha}}

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Theme by <a href="https://blog.lss233.com/">Lss233</a></section>
        </footer>

    </div>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="//cdn.bootcss.com/fitvids/1.1.0/jquery.fitvids.min.js"></script>
    {{!-- Script to detect back top top--}}
    <script type="text/javascript" src="//cdn.bootcss.com/scrollup/2.4.1/jquery.scrollUp.min.js"></script>

    <script src="https://cdn.bootcss.com/feather-icons/4.5.0/feather.min.js"></script>
    {{!-- Script to add shadow on title --}}
    <script type="text/javascript" src="{{asset "js.alpha/okshadow.js"}}"></script>
    {{!-- The main JavaScript file for Casper --}}
    <script type="text/javascript" src="{{asset "js.alpha/index.js"}}"></script>
    {{!-- Script to add fakeLoader --}}
    <script type="text/javascript" src="{{asset "js.alpha/fakeLoader.js"}}"></script>
    {{!-- Script to detect mobile devices --}}
    <script type="text/javascript" src="//cdn.bootcss.com/mobile-detect/1.3.5/mobile-detect.min.js"></script>
    {{!-- Script to detect when images have been downloaded --}}
    <script type="text/javascript" src="//cdn.bootcss.com/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
    {{!-- Custom Scripts --}}
    <script type="text/javascript">
        $("#fakeLoader").fakeLoader();
    </script>
</body>
</html>
