{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}
{{> "site-nav"}}

<div id="main">
    {{#foreach posts}}

        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{>"post-card" }}

    {{/foreach}}

    <div class="post">
        {{ pagination }}
    </div>
</div>

<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
        <section id="intro">
            <a href="#" class="logo">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{ @site.title }}" />
                {{/if}}
                </a>
            <header>
                <h2>{{ @site.title }}</h2>
                <p>{{ @site.description }}</p>
            </header>
        </section>

        {{> "user-feeds" }}
</section>